SIMPLY_RETS_API=https://api.simplyrets.com
SIMPLY_RETS_BASIC_AUTH=c2ltcGx5cmV0czpzaW1wbHlyZXRz

# These would normally come from a safer place, of course
AUTH_USER=user1@sideinc.com
AUTH_SECRET=676cfd34-e706-4cce-87ca-97f947c43bd4

JWT_USER=user1@sideinc.com
JWT_SECRET=676cfd34-e706-4cce-87ca-97f947c43bd4